<nav class = "navbar">
    <ul class="navlinks2">
        <a routerLink ="/userDashboard">Mc Queen Parcel Services</a>    
    </ul>
    <ul class = "navlinks">
        <li><a routerLink ="/userDashboard">Home</a></li>
        <li><a routerLink ="/userBookingService">Booking Service</a></li>
        <li><a routerLink ="/customerTracking">Tracking</a></li>
        <li><a routerLink ="/customer-booking-history">Previous Booking</a></li>
        <li><a routerLink ="/customerSupport">Contact</a></li>
    </ul>
    <div class="userInfo">
        <span>{{obj.userId}}</span>
        <a routerLink="/loginPage">Log Out</a>                      
    </div>
</nav> 