form {
    background: color #d89c24;
    padding:20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
input{
    width: 80%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border-style: none;
    
}
button{
    padding: 10px;
    width: 40%;
    border-style: none;
    background-color: #8b6f47;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.b1{
    background-color: transparent;
    color: black;
}
.b1:hover{
    background-color: transparent;
}
button:hover{
    background: #705a36;
}
.error {
    color: red;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: #705a36;
}
