<app-user-header/>
<div class="container">
    <h2>
        Welcome to Mc Queen Parcel Services
    </h2>
</div>

<!-- Cards -->
<div class = cardSectionCustomer>
    <div class = card>
        <div class = cardsInner>
            <div class = cardsFront>
                <h3> 
                    <br><br>
                    <span style='font-size:100px;'>🚚</span>
                    <br><br><br>
                    Send Parcel Now!
                </h3>
            </div>
            <div class = cardsBack>
                <p>Use our Lighthing fast Mc Queen Parcel service to end to your essentinal querier needs we are open 24/7!</p>
            </div>
        </div>
    </div>
    <div class = card>
        <div class = cardsInner>
            <div class = cardsFront>
                <h3>
                    <br><br>
                    <span style='font-size:100px;'>🎯</span>
                    <br><br><br>
                    Track your parcel now
                </h3>
            </div>
            <div class = cardsBack>
                <p>Use our convinient tracking service to know the whereabouts of your much awaited parcel in click of a button</p>
            </div>
        </div>
    </div>
    <div class = card>
        <div class = cardsInner>
            <div class = cardsFront>
                <h3>
                    <br><br>
                    <span style='font-size:100px;'>📑</span>
                    <br><br><br>
                    Check your Previous Booking
                </h3>
            </div>
            <div class = cardsBack>
                <p>Check your lastest parcel records at your conviences!</p>
               
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>