

<body>

  <div class="container ">
    <h2>Update Parcel Status</h2>
    <form (ngSubmit)="onSubmit()" #statusForm="ngForm">
      <div >
        <!-- <label for="parcelId" class="form-label">Parcel ID</label> -->
        <input type="number"   [(ngModel)]="parcelId" name="parcelId" required placeholder="Enter Parcel ID"/>

        
      </div>
  
      <div >
        <!-- <label for="status" class="form-label">Status</label> -->
         
        <input type="text"  [(ngModel)]="status" name="status"  required  placeholder="Enter Status"/>
      </div>
  
      <button type="submit" >Update</button>
    </form>
  
    <div *ngIf="responseMessage" class="alert alert-info mt-3">
      {{ responseMessage }}
    </div>
</div>


</body>