<app-admin-header/>
<div class="container">
    <h2>
        Welcome to Mc Queen Parcel Services
    </h2>
    <br><br><br>
<div class = cardSectionOfficer>
    <div class = cardOfficer>
        <div class = cardsInnerOfficer>
            <div class = cardsFront>
                <h3> 
                    <br><br>
                    
                    <span style='font-size:100px;'>🚩</span>
                    <br><br><br>
                    Track Parcel
                </h3>
            </div>
            <div class = cardsBack>
                <p>Use our Lighthing fast Mc Queen Parcel service to tend to your essentinal querier needs we are open 24/7!</p>
                
            </div>
        </div>
    </div>
    <div class = cardOfficer>
        <div class = cardsInnerOfficer>
            <div class = cardsFront>
                <h3>
                    <br><br>
                    <span style='font-size:100px;'>🕑</span>
                    <br><br><br>
                    Pick up Scheduling
                </h3>
            </div>
            <div class = cardsBack>
                <p>Use our convinient tracking service to know the whereabouts of your much awaited parcel in click of a button</p>
                
            </div>
        </div>
    </div>
    <div class = cardOfficer>
        <div class = cardsInnerOfficer>
            <div class = cardsFront>
                <h3>
                    <br><br>
                    <span style='font-size:100px;'>📤</span>
                    <br><br><br>
                    Delivery Status
                </h3>
            </div>
            <div class = cardsBack>
                <p>Check your lastest parcel records at your conviences!</p>
               
            </div>
        </div>
    </div>
    <div class = cardOfficer>
        <div class = cardsInnerOfficer>
            <div class = cardsFront>
                <h3>
                    <br><br>
                    <span style='font-size:100px;'>📑</span>
                    <br><br><br>
                    Previous Booking
                </h3>
            </div>
            <div class = cardsBack>
                <p>Check your lastest parcel records at your conviences!</p>
                
            </div>
        </div>
    </div>
</div>